*{
  box-sizing: border-box;
}
html, body{
  height: 100vh;
  margin: 0;
}

body{
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: monospace;
  color:#333;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7E7E7;
}
.header h1{
  font-weight: normal;
}

main{
  height: 100%;
  color: #333;
}

.message{
  font-size: 20px;
  font-weight: normal;
}

.icon{
  font-size: 100px;
  color: #BBB;
  transform: rotate(90deg);
}

article{
  display: flex;
  height: 100%;
}
article header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  margin-top: auto;
  padding: 30px;
  width: 100%;
  background-color: #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: blueviolet;
}